#software-name {
  border-bottom: 1px solid white;
}

.iniciarManutencao {
  width: 30%;
  margin-left: 25%;
  margin-top: 10%;
  border: 2px solid #adb5bd;
  padding: 20px;
  padding-bottom: 70px;
  border-radius: 10px;
}

#inputMsn {
  padding-bottom: 20px;
}

.buttons {
  position: absolute;
  margin-top: 10px;
  right: 29.8%;
}

.card {
  width: 30%;
  margin-top: 20px;
}

#addFuncButton{
  width: 20%;
  margin-top: 20px;
  margin-left: 5%;
}

#visualizarButton {
  margin-top: 10px;
}
#ncm {
  margin-top: 10px;
}
#ncm img {
  margin-right: 5px;
}

#completeButton {
  margin-top: 10px;
  margin-left: 61%;
}
#searchBar {
  width: 30%;
  margin-top: 10px;
}

.accordion {
  width: 30%;
}

.accordion .card {
  margin: auto;
  margin-bottom: 15px;
}

.accordion .card  .form-control, .accordion .card  .form-select,.accordion .card  .label { 
  margin-top: 10px;

}
#editButton{
  margin-top: 10px;
  margin-right: 10px;
}

#deleteButton{
  margin-top: 10px;
  margin-right: 10px;
}

#addButton{
  margin: auto;
  margin-left: 27%;
}

#submitButton{
  font-size: 14pt;
  margin-bottom: 20px;
  margin-right: 20px;
}
#formLogin {
  width: 30%;
  margin-left: 25%;
  margin-top: 10%;
  border: 2px solid #adb5bd;
  padding: 20px;
  padding-bottom: 70px;
  border-radius: 10px;
}
