#software-name {
  border-bottom: 1px solid white;
}

.iniciarManutencao {
  width: 30%;
  margin-left: 25%;
  margin-top: 10%;
  border: 2px solid #adb5bd;
  padding: 20px;
  padding-bottom: 70px;
  border-radius: 10px;
}

#inputMsn {
  padding-bottom: 20px;
}

.buttons {
  position: absolute;
  margin-top: 10px;
  right: 29.8%;
}

.card {
  width: 30%;
  margin-top: 20px;
}

#visualizarButton {
  margin-top: 10px;
}
#ncm {
  margin-top: 10px;
}
#ncm img {
  margin-right: 5px;
}

#completeButton {
  margin-top: 10px;
  margin-left: 61%;
}
#searchBar {
  width: 30%;
  margin-top: 10px;
}

.accordion {
  width: 30%;
}

.accordion .card {
  margin: auto;
  margin-bottom: 15px;
}
